.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex: 1;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    gap: 20px;
}

.infoContainer p{
    font-family: var(--font-pt-sans);
}

.infoContainer a{
    color: blue;
    font-family: var(--font-pt-sans);
}

.temp {
    background: gray;
    height: 300px;
    width: 300px;
}

.infp {
    display: flex;
    flex-direction: column;
}

.info ul {
    list-style-type: none;
}

.componentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
